.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow {
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow {
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow {
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow {
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent
}

.tippy-tooltip.light-theme {
    color: transparent;
    background-color: transparent
}

.tippy-tooltip.light-theme .tippy-backdrop {
    background-color: transparent
}

.tippy-tooltip.light-theme .tippy-roundarrow {
    fill: transparent
}

.tippy-tooltip.light-theme[data-animatefill] {
    background-color: transparent
}