#mynetwork {
    width: 780px;
    height: 89vh;
    border: 1px solid lightgray;
}

#webtitle{
    color: white;
    font-family: arial, serif;
    font-size: xx-large;
    background-color: navy;
    text-align: center;
}